// * VIDEO COMPONENT
.video-bg {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -100;
}

// * ICONO VER MÁS
.icono-ver-mas {
  width: 3rem;
  animation: bounce 1.5s infinite ease-in-out;
}

// * BUTTON

.btn {
  border-radius: 3rem;
  cursor: pointer;

  &--portfolio {
    font-size: 2.2rem;
    padding: 1.2rem 3rem;
    font-weight: 400;
    border: 1px solid $color-tertiary;
    background-color: #fff;
    color: $color-tertiary;

    transition: all 0.3s ease-in-out;

    &:not(:last-child) {
      margin-right: 5rem;
    }

    &:hover {
      color: #fff;
      background-color: $color-tertiary;
      transform: translateY(-1rem);
    }

    &:active {
      transform: translateY(1rem);
    }
  }

  &--active {
    background-color: $color-tertiary;
    color: #fff;
  }
}

// * MENU ICON - ALWAYS TOP RIGHT
.menu-icon {
  position: fixed;
  z-index: 1;
  @include menuButtonsPositions;
}

// * NAV
.nav {
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  width: 0;
  height: 100vh;
  background-color: $color-secondary-2;
  display: none;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  .heading-secondary {
    position: absolute;
    left: 2%;
    top: 2%;
  }

  &__links {
    list-style: none;
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 3rem;
    }

    &:hover:before {
      height: 100%;
    }
  }

  // * BEFORE ITEM
  &__link::before {
    z-index: -1;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 3px;
    background-color: $color-bg-1;
    transform-origin: bottom;
    transform: scaleY(0);
    transition: transform 0.3s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.3s, background-color 0.1s;
  }

  &__link:hover:before,
  &__link--active:before {
    transform: scaleY(1);
    width: 100%;
  }

  // ---------------

  &__link {
    position: relative;
    z-index: 10;
    text-transform: capitalize;
    font-size: 5rem;
    text-decoration: none;
    color: #fff;
    z-index: 10;
  }

  &__close {
    position: absolute;
    width: 4rem;
    @include menuButtonsPositions;
  }
}

// * SKILLS

.skills {
  background-image: url(../assets/img/bg-skills.svg);
  background-origin: content-box;
  background-size: cover;
  &__heading {
    padding-top: 8rem;
  }

  &__container {
    padding: 7rem 10rem;
    margin-right: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__box {
    position: relative;
    box-shadow: 1rem 2rem 1.5rem rgba(#000, 0.64);
    height: 35rem;
    width: 33.33333%;
    background-color: #fff;
    border-radius: 5rem;
    &:not(:last-child) {
      margin-right: 5rem;
    }
    border: 2px solid #fff;

    transition: transform 0.3s ease-in-out;

    &:hover {
      transform: translateY(-3rem);
    }
  }

  &__icon {
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__title {
    padding-top: 3.5rem;
  }

  &__list {
    padding-top: 1.5rem;
    list-style: none;
    padding-left: 6rem;
  }

  &__item {
    position: relative;
    display: flex;
    align-items: center;
    font-weight: 300;
    font-size: 2rem;
    line-height: 2.4em;
    &::before {
      content: '';
      margin-right: 1.5rem;
      width: 2rem;
      height: 1.5rem;
      background-image: url('../assets/img/icons/tick-icon.svg');
    }
  }
}

// * PORTFOLIO

.portfolio {
  padding: 7rem 10rem;

  &__buttons {
  }

  &__cards {
    display: flex;
    justify-content: start;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
  }

  &__card {
    width: calc(33.3333% - 2rem);
    // width: 80%;
    height: 45rem;
    background-color: #fff;
    border-radius: 0.5rem;
    margin-bottom: 2rem;

    transition: transform .2s ease;

    &:hover {
      transform: scale(1.012);
    }

    &:not(:last-child) {
      margin-right: 2rem;
    }
  }

  &__text {
    padding: 1rem 2rem;
  }

  .paragraph-small {
    margin-top: 1rem;
    margin-bottom: 1.5rem;
  }

  &__img {
    width: 100%;
    height: 25rem;
    background-clip: content-box;
    object-fit: cover;
    border-top-right-radius: 0.5rem;
    border-top-left-radius: 0.5rem;
  }

  &__more {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__links {
    display: flex;
    align-items: center;
  }

  &__link {
    cursor: pointer;
    &:not(:last-child) {
      margin-right: 1rem;
    }
  }

  &__link-img {
    width: 3rem;
  }

  &__tags {
    font-size: 1.5rem;
    color: $color-grey-1;
  }
}
